.git
coverage
npm-debug.log
node_modules
deploy
packages/**/node_modules
packages/**/dist
packages/**/coverage
packages/**/tsconfig.test.json
packages/**/*.tsbuildinfo
packages/client/.eslintrc.js
packages/client/public/generic
Jenkinsfile
Jenkinsfile_China
sources_de.list
README.md
.husky
.huskyrc
